<a class="navbar-brand mr-auto p-0" href="#"><img src="assets/logo.png" alt="" /></a>
<nav class="navbar" >
	<ul class="">
		<li class="has-dropdown"><a href="#" class="collapsed" data-toggle="collapse" href="#col-document" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-file-text-o" aria-hidden="true"></i>Document Automation <span class="arrow"></span></a>
			<div class="sub-menu collapse" id="col-document">
			  <ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
			  </ul>
			</div>
		</li>
		<li><a href="#" href="#"><i class="fa fa-tag" aria-hidden="true"></i>Payments</a></li>
		<li class="has-dropdown"><a href="#" class="collapsed" data-toggle="collapse" href="#col-network" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-link" aria-hidden="true"></i>Network <span class="arrow"></span></a>
			<div class="sub-menu collapse" id="col-network">
			  <ul>
				<li><a href="#" class="active">Internal team</a></li>
				<li><a href="#">Groups</a></li>
				<li><a href="#">Calero Network</a></li>
			  </ul>
			</div>
		</li>
		<li><a href="#" href="#"><i class="fa fa-search-plus" aria-hidden="true"></i>Fraud and Risk Model</a></li>
		<li><a href="#" href="#"><i class="fa fa-money" aria-hidden="true"></i>Cash Flow</a></li>
		<li><a href="#" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Time Tracker</a></li>
		<li><a href="#" href="#"><i class="fa fa-tablet" aria-hidden="true"></i>App Integration</a></li>
		<li><a href="#" href="#"><i class="fa fa-pagelines" aria-hidden="true"></i>Credit</a></li>
	</ul>
</nav>