/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body{font-family: 'Roboto', sans-serif; color:#211f49; font-size:16px; line-height:normal;}
a:hover,a:focus{text-decoration:none;}

.navbar-brand{display:block; text-align:center; margin-bottom:70px;}
.navigation-container{background:#e8e7ff; max-width:305px; width:100%; padding:30px; position:fixed; height:100%;}
.navbar{padding:0;}
.navbar ul{padding:0;margin:0; width:100%;}
.navbar > ul > li{display:block; list-style:none; margin-top:19px; margin-bottom:19px;}
.navbar li a{font-size:15px; color:#211f49; font-weight:bold; display:block;}
.navbar li a:hover, .navbar li a:hover i{color:#574fff;}
.navbar li a i{font-size:24px; margin-right:21px;}
.navbar .sub-menu ul{padding-left:70px;}
.navbar .sub-menu li{margin-bottom:0; list-style:none; padding:6px 0;}

.has-dropdown a{/* ackground:url(assest/dropdown-arrow.png) no-repeat */ }

.arrow{display:inline-block; width:10px; height:10px;border-top:2px solid #211f49; border-right: 2px solid #211f49;float:right; transform:rotate(135deg);     transition:all.2s ease; margin:8px 0;}
.collapsed .arrow{transform: rotate(45deg);}

.navigation-container{ -webkit-transform: translate3d(-305px,0,0);
     -moz-transform: translate3d(-305px,0,0);
          transform: translate3d(-305px,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;}
#container-toggle{margin-left:0; width:auto; -webkit-transform: translate3d(0,0,0);
     -moz-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;

}

.navigation-container.block-toggle{-webkit-transform: translate3d(0px,0,0);
     -moz-transform: translate3d(0px,0,0);
          transform: translate3d(0px,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;}
#container-toggle.block-toggle{margin-left:305px; width:auto;-webkit-transform: translate3d(0px,0,0);
     -moz-transform: translate3d(0px,0,0);
          transform: translate3d(0px,0,0);
  -webkit-transition: all 500ms ease-in-out;
     -moz-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;}

/* SUB NAV */
.sub-top-nav{ padding:34px 0 0 15px;}
.sub-top-nav:after{ font-size:0px; line-height:0px; height:0px; content:'.'; visibility:hidden; display:block; clear:both;}
.menu-trigger{ float:left;}
#btn-toggle{ color:#211f49; font-size:24px;}
.sub-top-nav .nav{ float:right;}
.sub-top-nav .nav a{ color:#a6a7a9; font-size:18px;}